<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <i #popover="ngbPopover" class="fa fa-dot-circle-o" aria-hidden="true" [ngbPopover]="popContent" [popoverTitle]="popTitle"
        [placement]="placement" [autoClose]="'outside'"></i>
    </div>
  </div>
</div>
<ng-template #popContent>
  <div *ngIf="question.type==='SMILEY'" class="smiley">
    <i class="fa fa-smile-o" [ngClass]="{'green':question.rating==1}" (click)=" ratingClicked('SMILEY',1)" aria-hidden="true"></i>
    &nbsp;<i class="fa fa-meh-o" [ngClass]="{'checked':question.rating==2}" (click)=" ratingClicked('SMILEY',2)"
      aria-hidden="true"></i>
    &nbsp;<i class="fa fa-frown-o" [ngClass]="{'red':question.rating==3}" (click)=" ratingClicked('SMILEY',3)"
      aria-hidden="true"></i>
  </div>
  <div *ngIf="question.type==='LIKE'" class="like">
    <i class="fa fa-thumbs-o-up" [ngClass]="{'checked':question.rating==1}" (click)=" ratingClicked('THUMBS',1)"></i>
    &nbsp;<i class="fa fa-thumbs-o-down" [ngClass]="{'red':question.rating==0}" (click)=" ratingClicked('THUMBS',0)"></i>
  </div>
  <div *ngIf="question.type==='STAR'" class="star">
    <i class="fa fa-star-o" [ngClass]="{'checked':question.rating >=1}" (click)="ratingClicked('STAR',1)"></i>
    <i class="fa fa-star-o" [ngClass]="{'checked':question.rating >=2}" (click)="ratingClicked('STAR',2)"></i>
    <i class="fa fa-star-o" [ngClass]="{'checked':question.rating >=3}" (click)="ratingClicked('STAR',3)"></i>
    <i class="fa fa-star-o" [ngClass]="{'checked':question.rating >=4}" (click)="ratingClicked('STAR',4)"></i>
    <i class="fa fa-star-o" [ngClass]="{'checked':question.rating >=5}" (click)="ratingClicked('STAR',5)"></i>
  </div>
  <div class="comments">
    <textarea class="form-control-sm" rows="2" id="comment" [(ngModel)]='question.comment'></textarea><br>
    <button type="button" class="btn btn-primary btn-sm" [disabled]="!question.rating || submitted" (click)="submitRating()">
      {{submitted?"Submitted":"Submit"}}
    </button>
  </div>
</ng-template>
<ng-template #popTitle>{{question?.question}}</ng-template>